extends index.pug

include inc/mixins.pug

block content
  
  //- Landing page - full height of screen on load
  section#above-the-fold.no-padding
    
    .center
      
      h1 Hey there! I'm #[span Julian Hernandez]. #[br] Nice to meet you!
      a.cta.light(href="#about") Get to know me!
  
  //- Header with navigation
  section#header.no-padding
    include inc/header.pug
  
  //- About Julian
  section#about
          
    .row
      
      .col-2.vertical
        img.profile-picture(src=template_directory_uri + '/assets/images/julianhernandez_compressed_415x450.jpg')
        .social-media-row
          ul
            li
              a
                img(src=template_directory_uri + '/assets/images/social-media/dark/github.svg' alt="Julian Hernandez Github Profile" title="julian1729 Github")
            li
              a
                img(src=template_directory_uri + '/assets/images/social-media/dark/instagram.svg' alt="Julian Hernandez Instragram Profile" title="Julian's Instagram")
            li
              a
                img(src=template_directory_uri + '/assets/images/social-media/dark/twitter.svg' alt="Julian Hernandez Twitter Profile" title="jherwebsites Twitter")
            li
              a
                img(src=template_directory_uri + '/assets/images/social-media/dark/linkedin.svg' alt="Julian Hernandez LinkedIn Profile" title="Julian Hernandez on LinkedIn")
      
      .col-2
        .about-text
          h2 Hello
          p I am a full stack web developer in Philadelphia. I work for #[a(href="http://weare.pbmarketingllc.com/" target="_blank") Premiere Brand], a full service creative studio that specializes in brand strategy and visual creation.
    
    .row
      
      .col-4.block
        
        +skill('HTML', 75)
        
        +skill('CSS', 85)
        
        +skill('Javascript', 75)
  
  //- Portfolio work
  section#portfolio
    
    .row.block
      
        h2.section-heading Portfolio
    
    .row.block
              
      .portfolio-container
        
        .portfolio-item
          a(href="#")
          .logo
            img(src="http://julian.local/wp-content/uploads/2019/09/logo_white.png")
          span.type-badge Node.js
      
        .portfolio-item(style="background: #F1B3B2")
          a
          .logo
            img(src="http://julian.local/wp-content/uploads/2019/09/princessparties.png")
          span.type-badge Wordpress
      
        .portfolio-item(style="background: #F1B3B2")
          a
          .logo
            img(src="http://julian.local/wp-content/uploads/2019/09/princessparties.png")
          span.type-badge Node.js
          
  section#contact
    
    .row
      
      .col-2
        
        .text
          h2.light get in touch
          p Have a project for me? Want to know more about my skillset? Fill out my contact form, shoot me an email, or send me a text and I’ll be in touch ASAP! Download my professional resume below.
          
          .contact-details
            a(href="tel:2154000468") 215.400.0468
            a(href="mailto:hernandez.julian17@gmail.com") hernandez.julian17@gmail.com
          
          .downloads
            +pdfDownload('Julian_Hernandez_FullStackWebDeveloper.pdf', '#')
        
      .col-2.block
        
        form#contact-form
          +text_input('Name')(name="contact_name")
          +text_input('Email')(name="contact_email")
          textarea(name="contact_message" placeholder="Message")
          button.submit(type="button")
            img(src=template_directory_uri + '/assets/images/send_white_square.png' width="26px" height="23px")
    
  section#footer
    
    #scroll-button
      img(src=template_directory_uri + '/assets/images/up.svg')
        
    footer
      p.copyright Copyright © 2019 Julian Hernandez. All rights reserved.
      .social-media-row
        ul
          li
            a
              img(src=template_directory_uri + '/assets/images/social-media/light/github.png' alt="Julian Hernandez Github Profile" title="julian1729 Github")
          li
            a
              img(src=template_directory_uri + '/assets/images/social-media/light/instagram.png' alt="Julian Hernandez Instragram Profile" title="Julian's Instagram")
          li
            a
              img(src=template_directory_uri + '/assets/images/social-media/light/twitter.png' alt="Julian Hernandez Twitter Profile" title="jherwebsites Twitter")
          li
            a
              img(src=template_directory_uri + '/assets/images/social-media/light/linkedin.png' alt="Julian Hernandez LinkedIn Profile" title="Julian Hernandez on LinkedIn")
      
    
    
