extends index.pug

include inc/mixins.pug

block content
  
  //- Landing page - full height of screen on load
  section#above-the-fold
    
    .center
      
      h1 Hey there! I'm #[span Julian Hernandez.] #[br] Nice to meet you!
      a.cta.light(href="#about") Get to know me!
  
  //- Header with navigation
  section#header.no-padding
    include inc/header.pug
      
  //- About Julian
  section#about
          
    .row.to-animate
      
      .col-2.vertical
        img.profile-picture(src=template_directory_uri + '/assets/images/julianhernandez_compressed_415x450.jpg')
        +social_media_row(social_media_links)
      
      .col-2
        .about-text
          h2 Hello
          p I am a full stack web developer in Philadelphia. I work for #[a(href="http://weare.pbmarketingllc.com/" target="_blank") Premiere Brand], a full service creative studio that specializes in brand strategy and visual creation.
    
    .row
      
      .col-4.block.skills
        
        each skill in skills
          +skill(skill.name, skill.level)
  
  //- Portfolio work
  section#portfolio
    
    .row.block
      
        h2.section-heading Portfolio
    
    .row.block
              
      .portfolio-container
        
        each project in projects
          .portfolio-item(style="background: #" + project.background_color)
            a(href=project.permalink)
            if project.logo_url
              
              .logo
                img(src=project.logo_url)
            
            else 
              
              .title
                h3= project.title
              
            span.type-badge= project.environment
        
        //- .portfolio-item(style="background: #F1B3B2")
        //-   a
        //-   .title
        //-     h3 Princess Parties by Brittany
        //-   span.type-badge Wordpress
        //- 
        //- .portfolio-item(style="background: #F1B3B2")
        //-   a
        //-   .logo
        //-     img(src="http://julian.local/wp-content/uploads/2019/09/princessparties.png")
        //-   span.type-badge Node.js
          
  section#contact
    
    .row
      
      .col-2
        
        .text
          h2.light get in touch
          p Have a project for me? Want to know more about my skillset? Fill out my contact form, shoot me an email, or send me a text and I’ll be in touch ASAP! Download my professional resume below.
          
          .contact-details
            a(href="tel:2154000468") 215.400.0468
            a(href="mailto:hernandez.julian17@gmail.com") hernandez.julian17@gmail.com
          
          .downloads
            +pdfDownload('Julian_Hernandez_FullStackWebDeveloper.pdf', resume_url, 'Julian_Hernandez_FullStackWebDeveloper.pdf')
        
      .col-2.block.jh-contact-form !{contact_form}
        
        //- replaced w/ forminator form
        //- form#contact-form
        //-   +text_input('Name')(name="contact_name")
        //-   +text_input('Email')(name="contact_email")
        //-   textarea(name="contact_message" placeholder="Message")
        //-   button.submit(type="button")
        //-     img(src=template_directory_uri + '/assets/images/send_white_square.png' width="26px" height="23px")
    
  section#footer
    
    #scroll-button
      img(src=template_directory_uri + '/assets/images/up.svg')
        
    footer
      p.copyright Copyright © 2019 Julian Hernandez. All rights reserved.
      +social_media_row(social_media_links, 'light')
      
    
    
