block content
  
  header
    
    .heading(style="background:#" + custom.background_color)
      
      if logo_url
      
        .logo
          img(src=logo_url)
      
      else
        
        //- use this element to hold title
        .hide#project-title 
          p 
            - the_title()
        p.title
      
    include inc/header.pug
  
  article
    
    .container
      
      header 
      
        h1
          - the_title()
      
      .meta
        
        if custom.project_url
          a.project-link(href=custom.project_url title='Check out ' + get_the_title() + ' for yourself!' target="_blank")
            img(src=template_directory_uri + '/assets/images/link_white.svg')
            .inline-block-helper
        
        if custom.year_completed
          p #[span Year:] #{custom.year_completed}
        
        if custom.role
          p #[span Role:] #{custom.role}
        
        if technologies
                
          p
            
            span Technologies Used:
          
          ul.tech
            each technology in technologies            
              li= technology
      
      .the-content
        - the_content()
        
    
